/* ============ */
/* FONTS */
/* ============ */
@import url("https://use.typekit.net/ahp1egn.css");
/* New Spirit Regular
font-family: "new-spirit", serif;
font-weight: 400;
font-style: normal;
New Spirit Regular Italic
font-family: "new-spirit", serif;
font-weight: 400;
font-style: italic;
New Spirit Bold
font-family: "new-spirit", serif;
font-weight: 700;
font-style: normal;
New Spirit Bold Italic
font-family: "new-spirit", serif;
font-weight: 700;
font-style: italic;
New Spirit Regular Condensed
font-family: "new-spirit-condensed", serif;
font-weight: 400;
font-style: normal;
New Spirit Regular Condensed Italic
font-family: "new-spirit-condensed", serif;
font-weight: 400;
font-style: italic;
New Spirit Medium Condensed
font-family: "new-spirit-condensed", serif;
font-weight: 500;
font-style: normal;
New Spirit SemiBold Condensed
font-family: "new-spirit-condensed", serif;
font-weight: 600;
font-style: normal;
New Spirit Bold Condensed
font-family: "new-spirit-condensed", serif;
font-weight: 700;
font-style: normal;
New Spirit Bold Condensed Italic
font-family: "new-spirit-condensed", serif;
font-weight: 700;
font-style: italic; */

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> */

/* PP Editorial */
/* ============= */

@font-face {
  font-family: "PPEditorialOld";
  src: url("/fonts/otf/PPEditorialOld-UltralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("/fonts/otf/PPEditorialOld-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("/fonts/otf/PPEditorialOld-UltraboldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("/fonts/otf/PPEditorialOld-Ultrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("/fonts/otf/PPEditorialOld-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialOld";
  src: url("/fonts/otf/PPEditorialOld-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

/* Spectral */
/* ======== */

.spectral-extralight {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}

.spectral-light {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}

.spectral-semibold {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.spectral-extrabold {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
}

.spectral-extralight-italic {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: italic;
}

.spectral-light-italic {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: italic;
}

.spectral-regular-italic {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: italic;
}

.spectral-medium-italic {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: italic;
}

.spectral-semibold-italic {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: italic;
}

.spectral-bold-italic {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: italic;
}

.spectral-extrabold-italic {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: italic;
}

/* ============ */
/* STYLES */
/* ============ */
/* Global styles for the app */
/* This file is used to define global styles for the app */
/* and is imported in the _app.js file. */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --off-white: rgba(255, 255, 255, 0.5);
  --transparent-white: rgba(255, 255, 255, 0.05);
  --cream: #dad6cf;
  --black: #202020;
  --pink: #c792df;
  --orange: #f07d1f;
  --yellow: #d8cc34;
  --transparent-red: rgba(252, 54, 54, 0.4);
  --70s-green: #c5c0b6;
  --70s-brown: #8e8473;
  --spectral: "Spectral", serif;
  --new-spirit: "new-spirit", serif;
  --pp-editorial: "PPEditorialOld", "Old Standard TT", Arial, Helvetica,
    sans-serif;
  --inner-max-width: 1000px;
  --max-width: 1100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "PPEditorialOld", "Old Standard TT", Arial, Helvetica, sans-serif; */
  font-family: var(--new-spirit), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: var(--black);
  background: var(--yellow);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PPEditorialOld", "Old Standard TT", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 0.9;
  font-weight: 200;
}

h1 {
  font-size: 112px;
  color: var(--black);
}

h2 {
  font-size: 64px;
  /* line-height: 0.9; */
  color: var(--black);
}

h3 {
  font-size: 40px;
  color: var(--black);
}

p {
  font-family: var(--new-spirit), serif;
  font-size: 18px;
  line-height: 1;
}

p + p {
  padding-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: var(--new-spirit), serif;
  font-weight: 500;
  font-size: inherit;
}

p a,
li a {
  display: inline-block;
  position: relative;
  z-index: 0;
}

p a::after,
li a::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--orange);
  height: 4px;
  z-index: -1;
  transition: 0.3s all ease;
}

p a:hover::after,
p a:focus::after,
li a:hover::after,
li a:focus::after {
  bottom: -3px;
  transform: rotate(1deg);
  /* background: var(--black); */
  /* background: var(--yellow); */
  background: var(--orange);
}

ul {
  list-style: none;
  padding-left: 0;
}

p span.highlight--transparent-red {
  background: var(--transparent-red);
  padding: 0 5px;
  font-weight: 500;
}

p span.highlight--yellow {
  background: var(--yellow);
  padding: 0 5px;
  line-height: 1.4;
}

/* UTILITIES */
/* ========== */
.text-align-center {
  text-align: center;
}

.hidden {
  display: none;
}

.color--yellow {
  color: var(--yellow);
}
.color--pink {
  color: var(--pink);
}
.color--orange {
  color: var(--orange);
}
.color--black {
  color: var(--black);
}
.color--white {
  color: var(--white);
}
.color--off-white {
  color: var(--off-white);
}
.color--cream {
  color: var(--cream);
}

.background--yellow {
  background: var(--yellow);
}
.background--pink {
  background: var(--pink);
}
.background--orange {
  background: var(--orange);
}
.background--black {
  background: var(--black);
}
.background--white {
  background: var(--white);
}

/* Display */
.vertical {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

/* // ===========
  // ANIMATIONS
  // ===========

  // HOVER */

@keyframes hover {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes reverse-hover {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

/* // SPINN */

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg) translatey(5px);
    -webkit-transform: rotate(180deg) translatey(5px);
  }
  33% {
    transform: rotate(270deg) translatey(-0px);
    -webkit-transform: rotate(270deg) translatey(-5px);
  }
  50% {
    -webkit-transform: rotate(360deg) translatey(-5px);
    transform: rotate(360deg) translatey(-5px);
  }
  75% {
    transform: rotate(540deg) translatey(0px);
    -webkit-transform: rotate(540deg) translatey(0px);
  }
  100% {
    -webkit-transform: rotate(720deg) translatey(5px);
    transform: rotate(720deg) translatey(5px);
  }
}

/* // FLOAT */

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
